<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --><!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />    
    <add key="SecretKey" value="8a7df768-0d37-4382-9d83-aa63c2586f19" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="Login" value="UPC" />
    <add key="Password" value="95C919E777D6C0A7" />
    <add key="PartnerCode" value="UPC_CZ" />    
    <add key="Encoding" value="UTF-8" />
    <add key="NumRowsToSend" value="50" />
    <add key="EFCommandTimeout" value="3600" />
  </appSettings>
  
  <connectionStrings>
    <add name="ZCZEXT" providerName="System.Data.SqlClient" connectionString="server=WS8SQLdev;database=zicyz;uid=trdloR;pwd=S@le8rdR" />
    
    <!--FenixFT-->
    <!--<add name="FenixEntities" connectionString="metadata=res://*/FenixModel.csdl|res://*/FenixModel.ssdl|res://*/FenixModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ws8sql3;initial catalog=FenixFT;persist security info=True;user id=FenixW;password=F@n9#xW;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    
    <!--FenixRezlerTesty-->
    <!--<add name="FenixEntities" connectionString="metadata=res://*/FenixModel.csdl|res://*/FenixModel.ssdl|res://*/FenixModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ws8sqldev;initial catalog=FenixRezlerTesty;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--FenixUAT-->
    <add name="FenixEntities" connectionString="metadata=res://*/FenixModel.csdl|res://*/FenixModel.ssdl|res://*/FenixModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ws8sql3;initial catalog=FenixUAT;persist security info=True;user id=FenixW;password=F@n9#xW;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    
    <!--OSTRE BACHA--> 
    <!--<add name="FenixEntities" connectionString="metadata=res://*/FenixModel.csdl|res://*/FenixModel.ssdl|res://*/FenixModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ws8sql3;initial catalog=Fenix;persist security info=True;user id=FenixW;password=F@n9#xW;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" />
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <client>
      <endpoint address="http://83.206.128.120:8082/upcsw/services/NDL_Interfaces" binding="basicHttpBinding" bindingConfiguration="NDL_InterfacesSoapBinding" contract="NDLInterfaces.PortTypeNDL_Interfaces" name="NDL_Interfaces" />
    </client>
    <services>
      <service behaviorConfiguration="FenixAppServiceBehavior" name="FenixAppService.FenixAppSvc">
        <endpoint address="FenixAppSvc" binding="basicHttpBinding" contract="FenixAppService.IFenixAppSvc">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8734/FenixAppService/" />            
          </baseAddresses>
        </host>
      </service>
    </services>

    <bindings>
      <basicHttpBinding>
        <binding maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Streamed">
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="NDL_InterfacesSoapBinding" />
      </basicHttpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="FenixAppServiceBehavior">
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" httpGetUrl="Metadata" httpsGetUrl="Metadata" />
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="624288000" />
      </requestFiltering>
    </security>
  </system.webServer>

</configuration>