<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
      <httpRuntime enableVersionHeader="false" requestValidationMode="2.0" maxRequestLength="6225920"/>
      <compilation debug="true" targetFramework="4.5" />

      <webServices>
            <protocols>
                <add name="HttpGet"/>
                <add name="HttpPost"/>
            </protocols>
      </webServices>

    </system.web>

    <system.serviceModel>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
        <bindings>
            <basicHttpBinding>
            	<binding name="BasicHttpBinding_IAuthSvc">
               	<security mode="Transport">
                  	<transport clientCredentialType="None" />
               	</security>
            	</binding>
                <binding name="BasicHttpBinding_IFenixAppSvc" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Streamed">
                    <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
                    <security mode="Transport">
                       <transport clientCredentialType="None"/>
                    </security>	
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>      
         <endpoint address="https://ws8websecdb.upc.cz/FenixAuthService/AuthService.AuthSvc.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuthSvc" contract="AuthService.IAuthSvc" name="BasicHttpBinding_IAuthSvc" />
         <endpoint address="https://ws8websecapp.upc.cz/FenixAppService/FenixAppService.FenixAppSvc.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFenixAppSvc" contract="FenixAppService.IFenixAppSvc" name="BasicHttpBinding_IFenixAppSvc" />
            <metadata>
              <wsdlImporters>
                <extension type="WCFExtrasPlus.Soap.SoapHeaderImporter, WCFExtrasPlus" />
                <extension type="WCFExtrasPlus.Wsdl.Documentation.XmlCommentsImporter, WCFExtrasPlus" />
              </wsdlImporters>
            </metadata>          
        </client>
    </system.serviceModel>

    <system.webServer>
        <defaultDocument>
            <files>
                <add value="FenixSoapWebSvc.asmx" />
            </files>
        </defaultDocument>
        <security>
          <requestFiltering>
            <requestLimits maxAllowedContentLength="624288000" />
          </requestFiltering>
        </security>
    </system.webServer>
 
</configuration>
